#to-Day,
#to-Date {
    text-align: left;
    padding-left: 20px;
}

.city-btn {
    list-style: none;
    margin: 5px;
}
.fore {
    background: #3480eb;
}
.listy {
    border: 6px;
}
#vally {
    background: red;
    border: 1px solid;
}
.fix {
    border-bottom: none;
}